.dir.ly65epe[class][class]{margin-bottom:var(--jhzm-v-t);}
.c1k4n2ms[class][class]{display:flex;}

.dir.c1k4n2ms[class][class]{margin-bottom:10px;}

.mertcch[class][class]{flex-grow:0;flex-shrink:0;width:300px;height:200px;}

.iabnva0[class][class]{display:flex;flex-direction:column;flex-grow:1;height:200px;}

.dir-ltr.iabnva0[class][class]{margin-left:var(--jaa-ni-h);}

.dir-rtl.iabnva0[class][class]{margin-right:var(--jaa-ni-h);}
.h1hdfvnt[class][class]{-webkit-scrollbar-width:none;-moz-scrollbar-width:none;-ms-scrollbar-width:none;scrollbar-width:none;}

.h1hdfvnt[class][class]::-webkit-scrollbar{display:none;}
.s6xnzsn[class][class]{width:var(--horizontal-separator_width);}

.dir.s6xnzsn[class][class]{border-top:1px solid var(--j-qkgmf);}

.dir-ltr.s6xnzsn[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.s6xnzsn[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}
.c1aqm3wp[class][class]{position:relative;}

.cuq7bt8[class][class]{position:unset;}

.l1d1x245[class][class]{display:block;position:absolute;top:0;height:100%;width:100%;outline:none;}

.dir.l1d1x245[class][class]{border-radius:var(--i-g-gvoq);}

.dir-ltr.l1d1x245[class][class]{left:0;}

.dir-rtl.l1d1x245[class][class]{right:0;}

.dir.l1d1x245[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.l1d1x245[class][class]:focus::-moz-focus-inner{border:none;}

.l1d1x245[class][class]:-moz-focusring{outline:none;}

.dir.l1d1x245[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.l1d1x245[class][class]:focus-visible{transition:none;}}

.dir.l1d1x245[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.l1d1x245[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.m5osunu[class][class]{margin-bottom:10px;}

.dir.pzfo4tk[class][class]{margin-top:var(--h-x-sf-jw);}

.si3k14a[class][class]{font-size:var(--i-nh-zme);line-height:var(--gvarj-f);line-height:var(--gvarj-f);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5;}

.dir.si3k14a[class][class]{margin-top:var(--fgg-f-l-a);}

@supports (overflow:clip){
.si3k14a[class][class]{overflow:clip;}}
.t8y64wl[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);color:var(--f-k-smk-x);}

.dir.t8y64wl[class][class]{margin-top:var(--b-y-unon);margin-bottom:var(--fgg-f-l-a);}

.b1x6vohp[class][class]{display:flex;flex-wrap:wrap;list-style:none;-webkit-margin-before:var(--fgg-f-l-a);margin-block-start:var(--fgg-f-l-a);}

.dir.b1x6vohp[class][class]{padding:0;}

.byyxxms[class][class]{-webkit-scrollbar-width:none;-moz-scrollbar-width:none;-ms-scrollbar-width:none;scrollbar-width:none;display:block;flex-wrap:nowrap;overflow-x:scroll;-webkit-scroll-padding:50%;-moz-scroll-padding:50%;-ms-scroll-padding:50%;scroll-padding:50%;-moz-scroll-snap-type:x mandatory;scroll-snap-type:x mandatory;white-space:nowrap;}

.byyxxms[class][class]::-webkit-scrollbar{display:none;}

.b9b387l[class][class]{display:block;}

.dir.b9b387l[class][class]{margin-bottom:var(--fgg-f-l-a);}

.dir-ltr.b9b387l[class][class]:not(:last-of-type){margin-right:var(--fgg-f-l-a);}

.dir-rtl.b9b387l[class][class]:not(:last-of-type){margin-left:var(--fgg-f-l-a);}

.bbzfra9[class][class]{display:inline-block;}

.dir.bbzfra9[class][class]{margin-top:0;}

.b1gud8iv[class][class]{font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);white-space:nowrap;}
.c4mnd7m[class][class]{display:grid;grid-template-columns:100%;}

.c1pbo4kt[class][class]{flex-direction:column;grid-area:1 / 1 / 2 / 2;height:100%;visibility:hidden;opacity:0;z-index:2;}

.dir.c1pbo4kt[class][class]{margin:0;padding-top:0;}

.l179zchc[class][class]{visibility:visible;content-visibility:visible;opacity:1;}

.l11gabdp[class][class]{visibility:visible;content-visibility:visible;opacity:1;}

.dir.l11gabdp[class][class]{transition:opacity var(--transition-element_transition-duration) cubic-bezier(0.895,0.03,0.685,0.22) var(--transition-element_transition-delay);}

@media (prefers-reduced-motion:reduce){
.dir.l11gabdp[class][class]{transition-delay:0ms;transition-duration:0ms;}}

.l86y7sf[class][class]{opacity:0;}

.c1l1h97y[class][class]{grid-area:1 / 1 / 2 / 2;}

.l1aqx8qh[class][class]{visibility:hidden;opacity:0;}

.l1quy2ni[class][class]{visibility:visible;content-visibility:unset;opacity:0;}

.dir.l1quy2ni[class][class]{transition:opacity var(--transition-element_transition-duration) cubic-bezier(0.895,0.03,0.685,0.22) var(--transition-element_transition-delay);}

@media (prefers-reduced-motion:reduce){
.dir.l1quy2ni[class][class]{transition-delay:0ms;transition-duration:0ms;}}

.lo4oprd[class][class]{opacity:1;}

.cikyho8[class][class]{display:none;}

@supports (content-visibility:hidden){
.cikyho8[class][class]{content-visibility:hidden;display:flex;}}
.bi6b9fr[class][class].s15vsdt[class][class] .rpz7y38[class][class]{font-weight:var(--jx-zk-pv);}
.cm4lcvy[class][class]{display:flex;height:100%;position:relative;z-index:1;}

.l8au1ct[class][class]{bottom:0;position:absolute;top:0;outline:none;}

.dir.l8au1ct[class][class]{left:0;right:0;border-radius:var(--i-g-gvoq);}

.dir.l8au1ct[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.l8au1ct[class][class]:focus::-moz-focus-inner{border:none;}

.l8au1ct[class][class]:-moz-focusring{outline:none;}

.dir.l8au1ct[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.l8au1ct[class][class]:focus-visible{transition:none;}}

.dir.l8au1ct[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.l8au1ct[class][class]:focus[data-focus-visible-added]{transition:none;}}

.m28cx3m[class][class]{flex-grow:0;flex-shrink:0;width:300px;height:200px;}

.idt4x4[class][class]{display:flex;flex-direction:column;flex-grow:1;height:200px;}

.dir-ltr.idt4x4[class][class]{margin-left:var(--jaa-ni-h);}

.dir-rtl.idt4x4[class][class]{margin-right:var(--jaa-ni-h);}

.td9wtjk[class][class]{display:flex;align-items:flex-start;}

.kc26pza[class][class]{flex:1;}

.dir-ltr.kc26pza[class][class]{margin-right:var(--jaa-ni-h);}

.dir-rtl.kc26pza[class][class]{margin-left:var(--jaa-ni-h);}

.b14n1p2a[class][class]{display:flex;align-items:flex-end;flex-grow:1;}

.dir.b14n1p2a[class][class]{margin-top:-10px;}

.sglmc5a[class][class]{flex:1 0 auto;}

.dir-ltr.sglmc5a[class][class]{margin-right:var(--b-y-unon);}

.dir-rtl.sglmc5a[class][class]{margin-left:var(--b-y-unon);}

.dir-ltr.p1qe1cgb[class][class]{margin-left:auto;}

.dir-rtl.p1qe1cgb[class][class]{margin-right:auto;}
