.s1p9ejq8[class][class].i1wgresd[class][class]{color:var(--f-k-smk-x);}

.s1p9ejq8[class][class].i1wgresd[class][class] .mp2hv9t[class][class]{-webkit-text-decoration:line-through;text-decoration:line-through;}
.v1b5d4we[class][class] .c1lw8ge4[class][class]{min-height:0;}

.dir-ltr.v1b5d4we[class][class] .c1lw8ge4[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.v1b5d4we[class][class] .c1lw8ge4[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}

.v1b5d4we[class][class] .c78fjv7[class][class]{position:static;}

.dir-ltr.v1b5d4we[class][class] .iju2wmg[class][class]{margin-right:var(--h-x-sf-jw);}

.dir-rtl.v1b5d4we[class][class] .iju2wmg[class][class]{margin-left:var(--h-x-sf-jw);}

.v1b5d4we[class][class] .sdinebx[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);align-items:center;color:var(--f-k-smk-x);display:inline-flex;height:24px;justify-content:flex-end;position:relative;pointer-events:none;}

.dir.v1b5d4we[class][class] .sdinebx[class][class]{background-color:var(--f-mkcy-f);border:1px solid var(--j-qkgmf);border-radius:var(--h-l-f-om-o);cursor:default;padding:3px var(--fgg-f-l-a);}

.v1b5d4we[class][class] .s6qms7[class][class]{visibility:visible;}

.v1b5d4we[class][class] .s1sphtog[class][class]{display:none;}

.v1b5d4we[class][class] .e1vk1vl4[class][class]{font-weight:var(--jx-zk-pv);white-space:nowrap;}

.v1b5d4we[class][class] .s1j6z33w[class][class]{font-weight:var(--e-y-j-d-v-j);white-space:nowrap;color:var(--fo-jk-r-s);}

.v1b5d4we[class][class] .sf9lznf[class][class]{color:var(--j-qkgmf);}

.dir.v1b5d4we[class][class] .sf9lznf[class][class]{margin-left:6px;margin-right:6px;}
.l1ffp9n[class][class]{display:flex;line-height:0;list-style:none;}

.dir.l1ffp9n[class][class]{padding:0;}

.dir-ltr.l1ffp9n[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.l1ffp9n[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}

.dir.ictgzuh[class][class]{margin-top:var(--h-x-sf-jw);}

.dir-ltr.ictgzuh[class][class]{margin-right:var(--fgg-f-l-a);}

.dir-rtl.ictgzuh[class][class]{margin-left:var(--fgg-f-l-a);}

.dir-ltr.ictgzuh[class][class]:last-child{margin-right:0;}

.dir-rtl.ictgzuh[class][class]:last-child{margin-left:0;}
.dir-ltr.c1b6a0zp[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.c1b6a0zp[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}

.dir-ltr.c7reqfh[class][class]{text-align:right;}

.dir-rtl.c7reqfh[class][class]{text-align:left;}

.pp2pv4e[class][class]{color:var(--f-k-smk-x);font-weight:var(--e-y-j-d-v-j);}

.dir-ltr.pp2pv4e[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.pp2pv4e[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}

.pusdten[class][class]{font-size:var(--ll-l-ys-f);line-height:var(--f-xgviq);}

.p1v1sdh8[class][class]{font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);}

.p19g44mb[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.pyhdtum[class][class]{font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);}
.f1hh8ye3[class][class]{font-weight:var(--h-oqhch);}

.s1uedle3[class][class]{color:var(--fo-jk-r-s);-webkit-text-decoration:line-through;text-decoration:line-through;font-weight:var(--jx-zk-pv);}

.dir-ltr.s1uedle3[class][class]{margin-right:var(--h-x-sf-jw);}

.dir-rtl.s1uedle3[class][class]{margin-left:var(--h-x-sf-jw);}

.u13y4e41[class][class]{font-weight:var(--h-oqhch);}

.u135wcjg[class][class]{align-items:center;color:var(--f-k-smk-x);display:flex;font-weight:var(--e-y-j-d-v-j);}

.u17z187b[class][class]{font-size:var(--ll-l-ys-f);line-height:var(--f-xgviq);}

.uh88zun[class][class]{font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);}

.u83pj6w[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.uhzod66[class][class]{font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);}

.u1j546vk[class][class]{justify-content:flex-end;}
.ci9w0oj[class][class]{font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--e-y-j-d-v-j);color:var(--f-k-smk-x);white-space:normal;}

.p1k7zcn4[class][class]{display:flex;flex-wrap:nowrap;justify-content:space-between;}

.dir.pt3tpai[class][class]{padding-bottom:var(--jaa-ni-h);}

.l5wk71r[class][class]{order:1;}

.p9bpnto[class][class]{order:2;white-space:nowrap;}

.pk7x55o[class][class]{color:var(--k-ff-my-a);font-weight:var(--jx-zk-pv);}

.d1go00gp[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);color:var(--fo-jk-r-s);}
.t1qfxvlt[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);align-items:center;display:inline-flex;}

.dir-ltr.t1qfxvlt[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.t1qfxvlt[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}
.pnze9kp[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);color:var(--fo-jk-r-s);font-weight:var(--e-y-j-d-v-j);}
.p1qbqedq[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);color:var(--fo-jk-r-s);font-weight:var(--e-y-j-d-v-j);}
.atm_9m99np_1o8liyq:nth-of-type(1n){display:inline-block;}

.atm_9s_glywfm{display:none;}
.l7n4lsf[class][class]:nth-of-type(1n){display:inline-block;}

.axjq0r[class][class]{display:none;}

.dir.lgx66tx[class][class]{margin:0;padding:0;}

.s1b4clln[class][class]{pointer-events:none;-webkit-user-select:none;user-select:none;white-space:pre-wrap;}

.dir.s1b4clln[class][class]{padding-left:0;padding-right:0;}
.s15vsdt[class][class]{display:flex;align-items:center;font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.s15vsdt[class][class] .sfqq6w5[class][class]{display:flex;align-items:center;color:var(--star-rating_icon-color,var(--f-k-smk-x));}

.dir-ltr.s15vsdt[class][class] .sfqq6w5[class][class]{margin-right:var(--h-x-sf-jw);}

.dir-rtl.s15vsdt[class][class] .sfqq6w5[class][class]{margin-left:var(--h-x-sf-jw);}

.s15vsdt[class][class] .rpz7y38[class][class]{color:var(--star-rating_value-color,var(--f-k-smk-x));}

.s15vsdt[class][class] .r1xr6rtg[class][class]{color:var(--star-rating_count-color,var(--fo-jk-r-s));}



.o1n80548[class][class]{color:var( --theme_typography-color-primary, var(--f-k-smk-x) );font-weight:var(--e-y-j-d-v-j);}

.dir-ltr.o1n80548[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.o1n80548[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}

.o1sobl9d[class][class]{font-size:var(--ll-l-ys-f);line-height:var(--f-xgviq);line-height:var(--f-xgviq);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}

@supports (overflow:clip){
.o1sobl9d[class][class]{overflow:clip;}}

.oh3h96u[class][class]{font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);line-height:var(---s-l-myu);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}

@supports (overflow:clip){
.oh3h96u[class][class]{overflow:clip;}}

.odhp81p[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);line-height:var(--j-p-z-kco);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}

@supports (overflow:clip){
.odhp81p[class][class]{overflow:clip;}}

.o11mkv6[class][class]{font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);line-height:var(--f-l-h-bac);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}

@supports (overflow:clip){
.o11mkv6[class][class]{overflow:clip;}}
.s97u99p[class][class] .c1lw8ge4[class][class]{min-height:0;}

.dir-ltr.s97u99p[class][class] .c1lw8ge4[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.s97u99p[class][class] .c1lw8ge4[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}

.s97u99p[class][class] .c78fjv7[class][class]{position:relative;}

.dir-ltr.s97u99p[class][class] .iju2wmg[class][class]{margin-right:var(--h-x-sf-jw);}

.dir-rtl.s97u99p[class][class] .iju2wmg[class][class]{margin-left:var(--h-x-sf-jw);}

.s97u99p[class][class] .sdinebx[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);align-items:center;color:var(--f-k-smk-x);display:inline-flex;height:24px;justify-content:flex-end;position:relative;pointer-events:none;}

.dir.s97u99p[class][class] .sdinebx[class][class]{background-color:var(--f-mkcy-f);border:1px solid var(--j-qkgmf);border-radius:var(--h-l-f-om-o);cursor:default;padding:3px var(--fgg-f-l-a);}

.s97u99p[class][class] .s6qms7[class][class]{visibility:hidden;}

.s97u99p[class][class] .s1sphtog[class][class]{display:flex;outline:0;z-index:1;position:absolute;top:0;outline:none;}

.dir.s97u99p[class][class] .s1sphtog[class][class]{border-radius:var(--h-l-f-om-o);}

.dir.s97u99p[class][class] .s1sphtog[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.s97u99p[class][class] .s1sphtog[class][class]:focus::-moz-focus-inner{border:none;}

.s97u99p[class][class] .s1sphtog[class][class]:-moz-focusring{outline:none;}

.dir.s97u99p[class][class] .s1sphtog[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.s97u99p[class][class] .s1sphtog[class][class]:focus-visible{transition:none;}}

.dir.s97u99p[class][class] .s1sphtog[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.s97u99p[class][class] .s1sphtog[class][class]:focus[data-focus-visible-added]{transition:none;}}

.s97u99p[class][class] .s1sphtog[class][class]:hover div{max-width:500px;}

.dir.s97u99p[class][class] .s1sphtog[class][class]:hover div{transition:0.75s max-width;}

@media (prefers-reduced-motion:reduce){
.dir.s97u99p[class][class] .s1sphtog[class][class]:hover div{transition:none;}}

.s97u99p[class][class] .s1sphtog[class][class]:focus div{max-width:500px;}

.dir.s97u99p[class][class] .s1sphtog[class][class]:focus div{transition:0.75s max-width;}

@media (prefers-reduced-motion:reduce){
.dir.s97u99p[class][class] .s1sphtog[class][class]:focus div{transition:none;}}

.s97u99p[class][class] .e1vk1vl4[class][class]{font-weight:var(--jx-zk-pv);white-space:nowrap;}

.s97u99p[class][class] .s1j6z33w[class][class]{font-weight:var(--e-y-j-d-v-j);max-width:0;overflow:hidden;overflow:clip;white-space:nowrap;}

.dir.s97u99p[class][class] .s1j6z33w[class][class]{transition:0.25s max-width;}

@media (prefers-reduced-motion:reduce){
.dir.s97u99p[class][class] .s1j6z33w[class][class]{transition:none;}}









.cuu4odx[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);align-items:center;display:flex;width:100%;}

.dir-ltr.cuu4odx[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.cuu4odx[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}

.cgi6leq[class][class]{font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);}

.c1frjvtt[class][class]{opacity:1;visibility:visible;visibility:unset;}

.dir.c1frjvtt[class][class]{animation-duration:0.3s;animation-name:fade-in-c1frjvtt;}

@media (prefers-reduced-motion:reduce){
.dir.c1frjvtt[class][class]{animation-duration:0.00001s;}}

@keyframes fade-in-c1frjvtt{
from{opacity:0;}

to{opacity:1;}}

.dir-ltr.resz8wt[class][class]{margin-right:3px;}

.dir-rtl.resz8wt[class][class]{margin-left:3px;}

.mj1p6c8[class][class]{line-height:var(--j-p-z-kco);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--fo-jk-r-s);}

.dir-ltr.mj1p6c8[class][class]{margin-right:3px;}

.dir-rtl.mj1p6c8[class][class]{margin-left:3px;}

@supports (overflow:clip){
.mj1p6c8[class][class]{overflow:clip;}}

.ma5pjgj[class][class]{line-height:var(--f-l-h-bac);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}

@supports (overflow:clip){
.ma5pjgj[class][class]{overflow:clip;}}

.t5bjjeg[class][class]{line-height:var(--j-p-z-kco);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--f-k-smk-x);}

@supports (overflow:clip){
.t5bjjeg[class][class]{overflow:clip;}}

.tlu87mv[class][class]{line-height:var(--f-l-h-bac);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}

@supports (overflow:clip){
.tlu87mv[class][class]{overflow:clip;}}


.i1wgresd[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);line-height:var(--j-p-z-kco);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;min-height:var(--j-p-z-kco);color:var(--fo-jk-r-s);font-weight:var(--e-y-j-d-v-j);}

.dir-ltr.i1wgresd[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.i1wgresd[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}

@supports (overflow:clip){
.i1wgresd[class][class]{overflow:clip;}}
