.c1hv59mj[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;outline:0;margin:-7px;padding:7px;color:buttontext;background-color:transparent;touch-action:manipulation;display:inline-flex;align-items:center;justify-content:center;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;width:32px;height:32px;}

.dir.c1hv59mj[class][class]{border-radius:50%;border:0;cursor:pointer;border-style:solid;border-width:1px;padding:0;margin:0;background-clip:padding-box;background-color:rgba(255,255,255,0.9);border-color:rgba(0,0,0,0.08);box-shadow:0 0 0 1px transparent,0 0 0 4px transparent,var(--e-swdx-p);transition:transform 0.25s ease;}

.c1hv59mj[class][class]:focus-visible{outline:none;}

.dir.c1hv59mj[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1hv59mj[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1hv59mj[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1hv59mj[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1hv59mj[class][class]:focus-visible{transition:none;}}

.c1hv59mj[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1hv59mj[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1hv59mj[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.c1hv59mj[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.c1hv59mj[class][class]{transition:none;}}

.dir.c1hv59mj[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1hv59mj[class][class]:focus::-moz-focus-inner{border:none;}

.c1hv59mj[class][class]:-moz-focusring{outline:none;}

.c1hv59mj[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.c1hv59mj[class][class]:focus-visible{transition:box-shadow 0.2s ease;border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);box-shadow:0 0 0 1px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f),var(--e-swdx-p);transform:scale(1.04);}

@media (prefers-reduced-motion:reduce){
.dir.c1hv59mj[class][class]:focus-visible{transition:none;}}

.c1hv59mj[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);box-shadow:0 0 0 1px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f),var(--e-swdx-p);transform:scale(1.04);}

@media (prefers-reduced-motion:reduce){
.dir.c1hv59mj[class][class]:focus[data-focus-visible-added]{transition:none;}}

@media (hover:hover){
.c1hv59mj[class][class]:hover{color:var(--bgxgx);}

.dir.c1hv59mj[class][class]:hover{border-color:rgba(0,0,0,0.08);background-color:var(--f-mkcy-f);box-shadow:0 0 0 1px transparent,0 0 0 4px transparent,var(--cizosd);transform:scale(1.04);}}

.c1hv59mj[class][class]:active{color:var(--bgxgx);}

.dir.c1hv59mj[class][class]:active{border-color:rgba(0,0,0,0.08);background-color:var(--f-mkcy-f);box-shadow:none;transform:scale(1);}

.c1hv59mj[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c1hv59mj[class][class]:disabled{border-color:var(--j-qkgmf);background-color:var(--f-mkcy-f);box-shadow:none;transform:scale(1);}

.bsqgmsg[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.bsqgmsg[class][class]:not(:focus){border:0;padding:0;}

.b3p4o08[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b3p4o08[class][class]:not(:focus){border:0;padding:0;}
.i1kgwsdz[class][class]{position:relative;}

.b17rfpqh[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b17rfpqh[class][class]:not(:focus){border:0;padding:0;}

.bfnd39z[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.bfnd39z[class][class]:not(:focus){border:0;padding:0;}

.c1go2hu2[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;display:inline-flex;align-items:center;justify-content:center;width:32px;height:32px;}

.dir.c1go2hu2[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s ease;}

.c1go2hu2[class][class]:focus-visible{outline:none;}

.dir.c1go2hu2[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1go2hu2[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1go2hu2[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1go2hu2[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1go2hu2[class][class]:focus-visible{transition:none;}}

.c1go2hu2[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1go2hu2[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1go2hu2[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1go2hu2[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1go2hu2[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1go2hu2[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1go2hu2[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.c1go2hu2[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.c1go2hu2[class][class]{transition:none;}}

@media (hover:hover){
.c1go2hu2[class][class]:hover{color:var(--bgxgx);}

.dir.c1go2hu2[class][class]:hover::before{background:var(---pc-g-v-g);}}

.c1go2hu2[class][class]:active{color:var(--bgxgx);}

.dir.c1go2hu2[class][class]:active{transform:scale(0.92);}

.dir.c1go2hu2[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.c1go2hu2[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1go2hu2[class][class]:focus::-moz-focus-inner{border:none;}

.c1go2hu2[class][class]:-moz-focusring{outline:none;}

.dir.c1go2hu2[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1go2hu2[class][class]:focus-visible{transition:none;}}

.dir.c1go2hu2[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.c1go2hu2[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1go2hu2[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1go2hu2[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.c1go2hu2[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c1go2hu2[class][class]:disabled::before{background:transparent;}

.c1go2hu2[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.c1go2hu2[class][class]::before{border-radius:50%;}

.dir-ltr.c1go2hu2[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.c1go2hu2[class][class]::before{right:50%;transform:translate(50%,-50%);}

.c1go2hu2[class][class]::before{width:32px;height:32px;}

.dir.c1go2hu2[class][class]::before{background:var(--f-mkcy-f);border:1px solid var(--j-qkgmf);}

.dir.c1go2hu2[class][class]:focus-visible{transform:scale(1.04);}

.dir.c1go2hu2[class][class]:focus-visible::before{background:var(--f-mkcy-f);}

.dir.c1go2hu2[class][class]:focus[data-focus-visible-added]{transform:scale(1.04);}

.dir.c1go2hu2[class][class]:focus[data-focus-visible-added]::before{background:var(--f-mkcy-f);}

.dir.c1go2hu2[class][class]:hover{transform:scale(1.04);}

.dir.c1go2hu2[class][class]:hover::before{background:var(--f-mkcy-f);}

.dir.c1go2hu2[class][class]:active{transform:scale(1);}

.dir.c1go2hu2[class][class]:active::before{background:var(--f-mkcy-f);}

.dir.c1go2hu2[class][class]:disabled{transform:scale(1);}

.dir.c1go2hu2[class][class]:disabled::before{background:var(--f-mkcy-f);}
