.d1jlqn7l[class][class]{color:var(--f-k-smk-x);font-size:var(--y-g-ar-y);line-height:var(--cb-pewj);}

.dir.d1jlqn7l[class][class]{text-align:center;margin-top:var(--fgg-f-l-a);}

.dir.cgnh7la[class][class]{margin-top:var(--ic-zlb-s);margin-bottom:var(--jaa-ni-h);}

.dir.c1tohibq[class][class]{margin-top:var(--jaa-ni-h);}
.pb826aq[class][class]{overflow:hidden;width:80px;height:80px;}

.dir.pb826aq[class][class]{border-radius:50%;}

.pdah0kw[class][class]{display:flex;justify-content:center;}

.dir.pdah0kw[class][class]{margin-bottom:var(--jaa-ni-h);}

.d12s12aa[class][class]{display:flex;justify-content:center;color:var(--f-k-smk-x);font-size:var(--y-g-ar-y);line-height:var(--cb-pewj);}

.dir.d12s12aa[class][class]{margin:0;margin-bottom:var(--fgg-f-l-a);}

.acrnthg[class][class]{display:flex;justify-content:center;color:var(--f-k-smk-x);font-size:var(--y-g-ar-y);line-height:var(--cb-pewj);}

.dir.acrnthg[class][class]{margin-bottom:var(--ic-zlb-s);}

.dir.axp9zu[class][class]{margin-bottom:var(--jaa-ni-h);}

.dir.abtyob8[class][class]{margin:0;}

.e95rynm[class][class]{align-self:center;}

.dir-ltr.e95rynm[class][class]{margin-right:var(--fgg-f-l-a);}

.dir-rtl.e95rynm[class][class]{margin-left:var(--fgg-f-l-a);}

.dir.e812x3g[class][class]{margin-bottom:var(--fgg-f-l-a);}

.dir.c8mykue[class][class]{margin-top:var(--jaa-ni-h);margin-bottom:var(--jaa-ni-h);}

.l1kushv0[class][class]{font:inherit;color:inherit;font-weight:var(--jx-zk-pv);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.l1kushv0[class][class]{padding:0;border:none;background:none;}

.dir-ltr.l1kushv0[class][class]{margin-left:var(--h-x-sf-jw);}

.dir-rtl.l1kushv0[class][class]{margin-right:var(--h-x-sf-jw);}
