.boaltu9[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.boaltu9[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.boaltu9[class][class]:hover{cursor:pointer;}}

.boaltu9[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.ffzwuj8[class][class]{width:100%;display:block;}

.sbi8dxt[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.sbi8dxt[class][class]:not(:focus){border:0;padding:0;}

.c19rgdxi[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;outline:none;}

.dir.c19rgdxi[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.c19rgdxi[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.c19rgdxi[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.dir.c19rgdxi[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c19rgdxi[class][class]:focus::-moz-focus-inner{border:none;}

.c19rgdxi[class][class]:-moz-focusring{outline:none;}

.c19rgdxi[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.c19rgdxi[class][class]:focus-visible{border-radius:var(--h-l-f-om-o);transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c19rgdxi[class][class]:focus-visible{transition:none;}}

.c19rgdxi[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.c19rgdxi[class][class]:focus[data-focus-visible-added]{border-radius:var(--h-l-f-om-o);transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c19rgdxi[class][class]:focus[data-focus-visible-added]{transition:none;}}

@media (hover:hover){
.c19rgdxi[class][class]:hover{color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;}}

.c19rgdxi[class][class]:active{color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;}

.c19rgdxi[class][class]:focus{color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;}

.c19rgdxi[class][class]:disabled{color:var(--j-qkgmf);-webkit-text-decoration:none;text-decoration:none;}
.dir.r1pyaok7[class][class]{padding-top:24px;padding-bottom:24px;border-radius:1px;padding-left:24px;padding-right:24px;}

.dir.cdlyqqe[class][class]{padding-top:16px;padding-bottom:16px;}

.dir.u1051dw6[class][class]{padding-top:8px;padding-bottom:8px;}

.dir.u6t9k07[class][class]{padding-top:0;padding-bottom:0;}

.dir.d1ef7v9u[class][class]{cursor:not-allowed;}
.b1gx9nk4[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b1gx9nk4[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b1gx9nk4[class][class]:disabled{opacity:0.3;}

.dir.b1gx9nk4[class][class]:disabled{cursor:not-allowed;}

.c1p6dday[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:var(--f-mkcy-f);}

.dir.c1p6dday[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;transition:box-shadow 0.2s ease,transform 0.1s ease;border:none;background:var(--dc-gy-f-v);}

@media (prefers-reduced-motion:reduce){
.dir.c1p6dday[class][class]{transition:none;}}

.c1p6dday[class][class]:focus-visible{outline:none;}

.dir.c1p6dday[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1p6dday[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1p6dday[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1p6dday[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1p6dday[class][class]:focus-visible{transition:none;}}

.c1p6dday[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1p6dday[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1p6dday[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1p6dday[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1p6dday[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1p6dday[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1p6dday[class][class]:active{transform:scale(0.96);}

.c1p6dday[class][class]:disabled{opacity:1;}

@media (hover:hover){
.c1p6dday[class][class]:hover{color:var(--f-mkcy-f);}

.dir.c1p6dday[class][class]:hover{border:none;background:var(--dc-gy-f-v);}}

.c1p6dday[class][class]:active{color:var(--f-mkcy-f);}

.dir.c1p6dday[class][class]:active{border:none;background:var(--ihf-tp-q);}

.c1p6dday[class][class]:disabled{color:var(--f-mkcy-f);}

.dir.c1p6dday[class][class]:disabled{border:none;background:var(--j-qkgmf);}

.dir.c1p6dday[class][class]:disabled:hover{background:var(--j-qkgmf);}

.f1ewl0po[class][class]{width:100%;}

.s1unxuxc[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1unxuxc[class][class]:not(:focus){border:0;padding:0;}
