.atm_mk_stnw88{position:absolute;}

.atm_tk_f6fqlb{top:18px;}

.dir-ltr.atm_fq_1fwxnve{left:12px;}

.dir-rtl.atm_fq_1fwxnve{right:12px;}

.dir-ltr.atm_n3_1fwxnve{right:12px;}

.dir-rtl.atm_n3_1fwxnve{left:12px;}

.dir.atm_gi_idpfg4{margin:0;}

.dir.atm_l8_idpfg4{padding:0;}

.atm_7l_11x86a4{color:black;}

.atm_mj_glywfm{pointer-events:none;}

.dir-ltr.atm_tw_xchc94{transform-origin:0% 0%;}

.dir-rtl.atm_tw_xchc94{transform-origin:100% 0%;}

.atm_j3_1osqo2v{max-width:100%;}

.atm_ks_15vqwwr{overflow:hidden;}

.atm_sq_1l2sidv{text-overflow:ellipsis;}

.atm_vv_1q9ccgz{white-space:nowrap;}

.atm_vy_1y5hjwv{width:calc(133.33333333333334% - 32px);}

.dir.atm_tr_1y95dkk{transform:translateY(-8px) scale(0.75);}

.atm_7l_5scuol{color:red;}
.cx1v2qp[class][class]{position:relative;}

.dir.cx1v2qp[class][class]{background-color:var(--f-mkcy-f);}

.dir.c10me34[class][class]{background-color:var(--f-mkcy-f);}

.o9ilwgk[class][class]{position:absolute;top:0;bottom:-1px;pointer-events:none;}

.dir.o9ilwgk[class][class]{left:0;right:0;border-style:solid;border-width:1px;border-color:var(--iw-ihca);}

.dir.oeg5rrn[class][class]{border-width:1px;border-color:var(--iw-ihca);}
.c18dcr0d[class][class]{position:relative;display:flex;min-height:56px;width:100%;color:black;background-color:white;border-radius:var(--go-h-jh-l);box-shadow:inset 0 0 0 1px var(--iw-ihca);color:var(--f-k-smk-x);background-color:var(--f-mkcy-f);font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--e-y-j-d-v-j);}

.dir.c18dcr0d[class][class]{cursor:text;margin:0;border:none;background-color:transparent;border-color:transparent;border-radius:0;box-shadow:none;margin-bottom:0;}

.l12yny4k[class][class]{display:flex;align-items:center;max-width:50%;white-space:nowrap;}

.dir-ltr.l12yny4k[class][class]{padding-left:12px;}

.dir-rtl.l12yny4k[class][class]{padding-right:12px;}

.i14lz45[class][class]{position:relative;flex:1;}

.dir.i14lz45[class][class]{padding:0;}

.t1ckvo84[class][class]{display:flex;align-items:center;justify-content:center;max-width:50%;min-width:36px;overflow:hidden;white-space:nowrap;overflow:visible;}

.dir-ltr.t1ckvo84[class][class]{padding-left:0;padding-right:12px;}

.dir-rtl.t1ckvo84[class][class]{padding-right:0;padding-left:12px;}

.i1cbjnu7[class][class]{display:flex;opacity:0;}

.id7a58w[class][class]{opacity:1;}

.i1tx43ja[class][class]{opacity:1;}

.it47kxf[class][class]{opacity:1;}

.dir-ltr.i156xlh4[class][class]{padding-left:12px;margin-right:-6px;}

.dir-rtl.i156xlh4[class][class]{padding-right:12px;margin-left:-6px;}

.dir.ihbwjpb[class][class]{padding-top:26px;}

.i16mi38h[class][class]{color:var(--fo-jk-r-s);}

.sqb778i[class][class]{width:100%;position:absolute;overflow:hidden;white-space:nowrap;pointer-events:none;}

.dir.sqb778i[class][class]{padding-top:26px;}

.dir-ltr.sqb778i[class][class]{left:0;}

.dir-rtl.sqb778i[class][class]{right:0;}

.smw73uz[class][class]{display:inline-block;visibility:hidden;}

.dir-ltr.smw73uz[class][class]{padding-left:12px;margin-right:6px;}

.dir-rtl.smw73uz[class][class]{padding-right:12px;margin-left:6px;}

.s2800zc[class][class]{color:var(--fo-jk-r-s);}

.scfgdpv[class][class]{display:none;}

.i8rguo6[class][class]{width:100%;outline:none;min-height:1px;color:inherit;font-family:inherit;font-size:inherit;font-weight:inherit;line-height:inherit;-webkit-appearance:none;}

.dir.i8rguo6[class][class]{border:none;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;margin-left:12px;margin-right:12px;margin-top:26px;margin-bottom:6px;background-color:transparent;}

.dir.i8rguo6[class][class]:-webkit-autofill{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.i8rguo6[class][class]:-webkit-autofill:hover{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.i8rguo6[class][class]:-webkit-autofill:focus{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.i8rguo6[class][class]:-webkit-autofill:active{-webkit-box-shadow:0 0 0 30px white inset;}

.i8rguo6[class][class]::-ms-clear{display:none;}

.i8rguo6[class][class]::placeholder{color:var(--fo-jk-r-s);opacity:1;}

.i8rguo6[class][class]:focus{color:var(--f-k-smk-x);}

.i8rguo6[class][class]::-webkit-inner-spin-button{-webkit-appearance:none;appearance:none;}

.dir.i8rguo6[class][class]::-webkit-inner-spin-button{margin:0;}

.dir.ippod3h[class][class]{cursor:not-allowed;}

.c1aeao40[class][class]{outline:none;box-shadow:inset 0 0 0 2px var(--f-k-smk-x);}

.dir.c1aeao40[class][class]{box-shadow:none;}

.c1pcr5cp[class][class]{opacity:0.3;opacity:1;background-color:var(---pc-g-v-g);box-shadow:inset 0 0 0 1px var(--d-nc-lt-s);color:var(--j-qkgmf);-webkit-text-fill-color:var(--j-qkgmf);}

.dir.c1pcr5cp[class][class]{cursor:not-allowed;background-color:transparent;box-shadow:none;}

.c1rzcbc6[class][class]{color:red;box-shadow:inset 0 0 0 1px var(--k-va-tnc);color:var(--f-k-smk-x);background-color:var(--f-p-k-v-lb);}

.dir.c1rzcbc6[class][class]{background-color:transparent;box-shadow:none;}

.c6uvvjn[class][class]{background-color:white;box-shadow:inset 0 0 0 2px red;background-color:var(--f-mkcy-f);box-shadow:inset 0 0 0 2px var(--k-va-tnc);}

.dir.c6uvvjn[class][class]{background-color:transparent;box-shadow:none;}

