.b1yf7320[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.b1yf7320[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.b1yf7320[class][class]:hover{cursor:pointer;}}

.b1yf7320[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.foql8ez[class][class]{width:100%;display:block;}

.s1lnvd7y[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1lnvd7y[class][class]:not(:focus){border:0;padding:0;}

.c1uxatsa[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;font-weight:var(--jx-zk-pv);position:relative;outline:none;}

.dir.c1uxatsa[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;border-radius:var(--h-l-f-om-o);text-align:inherit;}

.dir.c1uxatsa[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.c1uxatsa[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.c1uxatsa[class][class]:visited{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.c1uxatsa[class][class]:hover{color:var(--bgxgx);-webkit-text-decoration:underline;text-decoration:underline;}}

.c1uxatsa[class][class]:active{color:var(--fo-jk-r-s);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1uxatsa[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1uxatsa[class][class]:focus::-moz-focus-inner{border:none;}

.c1uxatsa[class][class]:-moz-focusring{outline:none;}

.c1uxatsa[class][class]:focus-visible{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1uxatsa[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1uxatsa[class][class]:focus-visible{transition:none;}}

.c1uxatsa[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1uxatsa[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1uxatsa[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1uxatsa[class][class]:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.c1uxatsa[class][class]:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}
