.b1yf7320[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.b1yf7320[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.b1yf7320[class][class]:hover{cursor:pointer;}}

.b1yf7320[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.foql8ez[class][class]{width:100%;display:block;}

.s1lnvd7y[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1lnvd7y[class][class]:not(:focus){border:0;padding:0;}

.c1uxatsa[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;font-weight:var(--jx-zk-pv);position:relative;outline:none;}

.dir.c1uxatsa[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;border-radius:var(--h-l-f-om-o);text-align:inherit;}

.dir.c1uxatsa[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.c1uxatsa[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.c1uxatsa[class][class]:visited{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.c1uxatsa[class][class]:hover{color:var(--bgxgx);-webkit-text-decoration:underline;text-decoration:underline;}}

.c1uxatsa[class][class]:active{color:var(--fo-jk-r-s);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1uxatsa[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1uxatsa[class][class]:focus::-moz-focus-inner{border:none;}

.c1uxatsa[class][class]:-moz-focusring{outline:none;}

.c1uxatsa[class][class]:focus-visible{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1uxatsa[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1uxatsa[class][class]:focus-visible{transition:none;}}

.c1uxatsa[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1uxatsa[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1uxatsa[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1uxatsa[class][class]:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.c1uxatsa[class][class]:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}
.l1tdvn0e[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;}

.dir.l1tdvn0e[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.l1tdvn0e[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.l1tdvn0e[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.b55s2dl[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b55s2dl[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b55s2dl[class][class]:disabled{opacity:0.3;}

.dir.b55s2dl[class][class]:disabled{cursor:not-allowed;}
.tyo2fgq[class][class]{position:absolute;top:0;bottom:0;width:100%;height:100%;overflow:hidden;-webkit-mask-image:-webkit-radial-gradient(white,black);mask-image:-webkit-radial-gradient(white,black);}

.dir.tyo2fgq[class][class]{left:0;right:0;}

.t1setlb[class][class]{display:block;width:100%;height:100%;min-width:200px;opacity:0;}

.dir.t1setlb[class][class]{background-size:200% 200%;transition:opacity 1.25s;}

.dir-ltr.t1setlb[class][class]{background-image:linear-gradient(to right,black 0%,white 50%,black 100%);}

.dir-rtl.t1setlb[class][class]{background-image:linear-gradient(to left,black 0%,white 50%,black 100%);}

.t1setlb[class][class]:hover{opacity:1;}

.t1setlb[class][class]:active{-webkit-transition:-webkit-transform 2s,opacity 2s;opacity:0;}

.dir.t1setlb[class][class]:active{transition:transform 2s,opacity 2s;transform:scale(5);}

.cbx4cei[class][class]{display:block;position:relative;pointer-events:none;}

.l1j9v1wn[class][class].dir-rtl[class][class]{--dc-gy-f-v:var(--bb-gov-t);--gj-z-dpd:var(--fb-hdaf);--iqds-nv:var(--dy-k-qzx);}
.bmx2gr4[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.bmx2gr4[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.bmx2gr4[class][class]:disabled{opacity:0.3;}

.dir.bmx2gr4[class][class]:disabled{cursor:not-allowed;}

.c1ih3c6[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:var(--f-mkcy-f);contain:paint;}

.dir.c1ih3c6[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;transition:box-shadow 0.2s ease,transform 0.1s ease;border:none;background:var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1ih3c6[class][class]{transition:none;}}

.c1ih3c6[class][class]:focus-visible{outline:none;}

.dir.c1ih3c6[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1ih3c6[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ih3c6[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1ih3c6[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ih3c6[class][class]:focus-visible{transition:none;}}

.c1ih3c6[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1ih3c6[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1ih3c6[class][class]:active{transform:scale(0.96);}

.c1ih3c6[class][class]:disabled{opacity:1;}

@media (hover:hover){
.c1ih3c6[class][class]:hover{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:hover{border:none;background:var(--bgxgx);}}

.c1ih3c6[class][class]:active{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:active{border:none;background:var(--bgxgx);}

.c1ih3c6[class][class]:disabled{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:disabled{border:none;background:var(--j-qkgmf);}

.f1hzc007[class][class]{width:100%;}

.s1b90jqc[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1b90jqc[class][class]:not(:focus){border:0;padding:0;}
.cletwlr[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;}

.dir.cletwlr[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;transition:box-shadow 0.2s ease,transform 0.1s ease;}

@media (prefers-reduced-motion:reduce){
.dir.cletwlr[class][class]{transition:none;}}

.cletwlr[class][class]:focus-visible{outline:none;}

.dir.cletwlr[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.cletwlr[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.cletwlr[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.cletwlr[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.cletwlr[class][class]:focus-visible{transition:none;}}

.cletwlr[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.cletwlr[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.cletwlr[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.cletwlr[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.cletwlr[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.cletwlr[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.cletwlr[class][class]:active{transform:scale(0.96);}

.cletwlr[class][class]:disabled{opacity:1;}
.b1bmwz98[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b1bmwz98[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b1bmwz98[class][class]:disabled{opacity:0.3;}

.dir.b1bmwz98[class][class]:disabled{cursor:not-allowed;}

.c1sef8f2[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:var(--f-k-smk-x);}

.dir.c1sef8f2[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;transition:box-shadow 0.2s ease,transform 0.1s ease;border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);padding-top:13px;padding-bottom:13px;padding-left:23px;padding-right:23px;}

@media (prefers-reduced-motion:reduce){
.dir.c1sef8f2[class][class]{transition:none;}}

.c1sef8f2[class][class]:focus-visible{outline:none;}

.dir.c1sef8f2[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1sef8f2[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1sef8f2[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1sef8f2[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1sef8f2[class][class]:focus-visible{transition:none;}}

.c1sef8f2[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1sef8f2[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1sef8f2[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1sef8f2[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1sef8f2[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1sef8f2[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1sef8f2[class][class]:active{transform:scale(0.96);}

.c1sef8f2[class][class]:disabled{opacity:1;}

.c1sef8f2[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.c1sef8f2[class][class]:focus-visible{border-color:var(--f-k-smk-x);box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.c1sef8f2[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.c1sef8f2[class][class]:focus[data-focus-visible-added]{border-color:var(--f-k-smk-x);box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

@media (hover:hover){
.c1sef8f2[class][class]:hover{color:var(--f-k-smk-x);}

.dir.c1sef8f2[class][class]:hover{border-color:var(--bgxgx);background:var(---pc-g-v-g);}}

.c1sef8f2[class][class]:active{color:var(--f-k-smk-x);}

.dir.c1sef8f2[class][class]:active{border-color:var(--bgxgx);background:var(---pc-g-v-g);}

.c1sef8f2[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c1sef8f2[class][class]:disabled{border-color:var(--j-qkgmf);background:var(--f-mkcy-f);}

.f3dg75g[class][class]{width:100%;}

.s1hob1v1[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1hob1v1[class][class]:not(:focus){border:0;padding:0;}
