.c1wj82si[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);display:flex;flex-direction:row;align-items:flex-end;justify-content:center;}

.dir.c1wj82si[class][class]{right:0;left:0;padding-top:calc(var(--b-y-unon) + env(safe-area-inset-top,0));}

@supports (max-height:-webkit-fill-available){
.c1wj82si[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

@media (min-width:744px) and (min-height:475px){
.c1wj82si[class][class]{align-items:center;}

.dir.c1wj82si[class][class]{padding:40px;}}

@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){
.c1wj82si[class][class]{align-items:stretch;}}

.d1esrtf4[class][class]{background:white;overflow:clip;position:relative;width:100vw;max-width:100vw;max-height:100%;display:flex;flex-direction:column;}

.dir.d1esrtf4[class][class]{background:var(--f-mkcy-f);box-shadow:var(--jx-b-v-zt);border-top-left-radius:var(--i-g-gvoq);border-top-right-radius:var(--i-g-gvoq);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:slideEnter-d1esrtf4;}

@supports not (overflow:clip){
.d1esrtf4[class][class]{overflow:hidden;}}

.d1esrtf4[class][class]:focus{outline:none;}

@media (min-width:744px){
.d1esrtf4[class][class]{width:100%;max-width:568px;}

.dir.d1esrtf4[class][class]{border-radius:var(--i-g-gvoq);}}

@keyframes slideEnter-d1esrtf4{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

@media (prefers-reduced-motion:reduce){
.dir.d1esrtf4[class][class]{animation-name:fadeEnter-d1esrtf4;}

@keyframes fadeEnter-d1esrtf4{
0%{opacity:0;}

100%{opacity:1;}}}

.dir.d1l1v508[class][class]{animation-name:slideLeave-d1l1v508;}

@keyframes slideLeave-d1l1v508{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

@media (prefers-reduced-motion:reduce){
.dir.d1l1v508[class][class]{animation-name:fadeLeave-d1l1v508;}

@keyframes fadeLeave-d1l1v508{
0%{opacity:1;}

100%{opacity:0;}}}
.czcfm7x[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;}

.dir.czcfm7x[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s ease;}

.czcfm7x[class][class]:focus-visible{outline:none;}

.dir.czcfm7x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.czcfm7x[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus-visible{transition:none;}}

.czcfm7x[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:none;}}

.czcfm7x[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.czcfm7x[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]{transition:none;}}

@media (hover:hover){
.czcfm7x[class][class]:hover{color:var(--bgxgx);}

.dir.czcfm7x[class][class]:hover::before{background:var(---pc-g-v-g);}}

.czcfm7x[class][class]:active{color:var(--bgxgx);}

.dir.czcfm7x[class][class]:active{transform:scale(0.92);}

.dir.czcfm7x[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.czcfm7x[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:-moz-focusring{outline:none;}

.dir.czcfm7x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus-visible{transition:none;}}

.dir.czcfm7x[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.czcfm7x[class][class]:disabled{color:var(--j-qkgmf);}

.dir.czcfm7x[class][class]:disabled::before{background:transparent;}

.czcfm7x[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.czcfm7x[class][class]::before{border-radius:50%;}

.dir-ltr.czcfm7x[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.czcfm7x[class][class]::before{right:50%;transform:translate(50%,-50%);}

.czcfm7x[class][class]::before{width:32px;height:32px;}

.i1h5tsj6[class][class]{position:relative;}

.b3tjjh1[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b3tjjh1[class][class]:not(:focus){border:0;padding:0;}

.b14e81y7[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b14e81y7[class][class]:not(:focus){border:0;padding:0;}
.l1tdvn0e[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;}

.dir.l1tdvn0e[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.l1tdvn0e[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.l1tdvn0e[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.b55s2dl[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b55s2dl[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b55s2dl[class][class]:disabled{opacity:0.3;}

.dir.b55s2dl[class][class]:disabled{cursor:not-allowed;}
.tyo2fgq[class][class]{position:absolute;top:0;bottom:0;width:100%;height:100%;overflow:hidden;-webkit-mask-image:-webkit-radial-gradient(white,black);mask-image:-webkit-radial-gradient(white,black);}

.dir.tyo2fgq[class][class]{left:0;right:0;}

.t1setlb[class][class]{display:block;width:100%;height:100%;min-width:200px;opacity:0;}

.dir.t1setlb[class][class]{background-size:200% 200%;transition:opacity 1.25s;}

.dir-ltr.t1setlb[class][class]{background-image:linear-gradient(to right,black 0%,white 50%,black 100%);}

.dir-rtl.t1setlb[class][class]{background-image:linear-gradient(to left,black 0%,white 50%,black 100%);}

.t1setlb[class][class]:hover{opacity:1;}

.t1setlb[class][class]:active{-webkit-transition:-webkit-transform 2s,opacity 2s;opacity:0;}

.dir.t1setlb[class][class]:active{transition:transform 2s,opacity 2s;transform:scale(5);}

.cbx4cei[class][class]{display:block;position:relative;pointer-events:none;}

.l1j9v1wn[class][class].dir-rtl[class][class]{--dc-gy-f-v:var(--bb-gov-t);--gj-z-dpd:var(--fb-hdaf);--iqds-nv:var(--dy-k-qzx);}
:root{--h-l-f-om-o:4px;--go-h-jh-l:8px;--i-g-gvoq:12px;--g-ki-r-rq:16px;--j-mdfu-h:20px;--jx-b-v-zt:0 8px 28px rgba(0,0,0,0.28);--g-r-n-ycy:1px solid rgba(0,0,0,0.04);--ih-jiz-p:0 6px 20px rgba(0,0,0,0.2);--cglwe-y:1px solid rgba(0,0,0,0.04);--cizosd:0 6px 16px rgba(0,0,0,0.12);--cb-k-zk-c:1px solid rgba(0,0,0,0.04);--e-swdx-p:0 2px 4px rgba(0,0,0,0.18);--g-fi-y-r-e:1px solid rgba(0,0,0,0.08);--itr-yy-z:cubic-bezier(0.2,0,0,1);--c-wky-h-p:1px;--hzee-ha:175px;--gracgr:26px;--e-usyia:cubic-bezier(0.1,0.9,0.2,1);--hb-n-kc-m:1px;--ikro-f:300px;--h-m-d-zo-y:35px;--f-w-xhiy:cubic-bezier(0.4,0,1,1);---sof-io:1px;--cll-sox:300px;--kf-r-nu-y:35px;--inwig-v:1px;--ien-u-go:250px;--d-kmbxx:22px;--j-cm-lxz:cubic-bezier(0,0,1,1);--f-ya-ggj:cubic-bezier(1,0,0.86,1);--bd-d-m-c-q:cubic-bezier(0,0,0.1,1);---bz-mmq:cubic-bezier(0.35,0,0.65,1);--bgxgx:#000000;--f-k-smk-x:#222222;--fo-jk-r-s:#717171;--iw-ihca:#B0B0B0;--j-qkgmf:#DDDDDD;--d-nc-lt-s:#EBEBEB;---pc-g-v-g:#F7F7F7;--f-mkcy-f:#FFFFFF;--k-va-tnc:#C13515;--cnr-vp-o:#B32505;--f-p-k-v-lb:#FFF8F6;--fhi-qn-u:#E07912;--k-ff-my-a:#008A05;--ldbkp-d:#428BFF;--ihf-tp-q:#FF385C;--cl-yygv:#E00B41;--kd-lqtg:#92174D;--d-u-w-o-m-k:#460479;--dc-gy-f-v:linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);--bb-gov-t:linear-gradient(to left,#E61E4D 0%,#E31C5F 50%,#D70466 100%);--d-e-vybb:radial-gradient(circle at center,#FF385C 0%,#E61E4D 27.5%,#E31C5F 40%,#D70466 57.5%,#BD1E59 75%,#BD1E59 100%);--gj-z-dpd:linear-gradient(to right,#BD1E59 0%,#92174D 50%,#861453 100%);--fb-hdaf:linear-gradient(to left,#BD1E59 0%,#92174D 50%,#861453 100%);--i-n-t-h-mj:radial-gradient(circle at center,#D70466 0%,#BD1E59 30%,#92174D 55%,#861453 72.5%,#6C0D63 90%,#6C0D63 100%);--iqds-nv:linear-gradient(to right,#59086E 0%,#460479 50%,#440589 100%);--dy-k-qzx:linear-gradient(to left,#59086E 0%,#460479 50%,#440589 100%);--j-m-v-dtd:radial-gradient(circle at center,#6C0D63 0%,#59086E 30%,#460479 55%,#440589 72.5%,#3B07BB 90%,#3B07BB 100%);--jhzm-v-t:16px;--ikx-k-pe:24px;--kksqe-v:32px;--f-fw-z-a-i:40px;--cw-a-a-u-a:48px;--fvsvry:64px;--cy-o-aco:80px;--d-b-mrdy:2px;--h-x-sf-jw:4px;--fgg-f-l-a:8px;--b-y-unon:12px;--jaa-ni-h:16px;--ic-zlb-s:24px;--kc-t-qr-j:32px;--e-ls-qkw:'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;--fy-rs-ca:18px;--d-ar-t-o-n:22px;--lhy-d-yl:22px;--fme-bf-w:26px;--g-zgv-nj:26px;--b-x-z-q-l-e:30px;--cv-p-u-ui:32px;--hu-t-o-g-n:36px;--hr-k-udr:10px;--dpgw-ac:12px;--f-cv-j-j-p:12px;--f-l-h-bac:16px;--c-zdwk-p:14px;--j-p-z-kco:18px;--i-nh-zme:14px;--gvarj-f:20px;--iw-ehf-f:16px;---s-l-myu:20px;--y-g-ar-y:16px;--cb-pewj:24px;--ll-l-ys-f:18px;--f-xgviq:24px;--kmwb-ss:18px;--j-n-c-d-l-h:28px;--jlvl-j-l:12px;--j-l-x-t-kw:16px;--e-y-j-d-v-j:400;--jx-zk-pv:600;--h-oqhch:800;--g-lm-u-p:normal;--mq-yk-l:0.04em;}
